// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/reset";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/variables";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: var(--header-height, 70px);
  font-size: 10px;
  @media (max-width: 1200px) {
    font-size: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320)));
  }
}

body {
  font: var(--font-1);
  background-color: var(--color-2);
  color: var(--color-1);
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  &::-webkit-scrollbar {
    background-color: gray;
  }
  &::-webkit-scrollbar-thumb {
    background-color: brown;
    transition: background-color var(--transition-1);
    @media (any-hover: hover) {
      &:hover {
        background-color: red;
      }
    }
  }
  &::-webkit-scrollbar-track {
  }
  &::-webkit-scrollbar-button {
  }
  &.__lock {
    overflow: hidden;
  }
}

.section {
  padding: 5rem 0;
}

// .container {
//   max-width: 1170px;
//   margin: 0 auto;
//   padding: 0 10px;
// }

[class*="__container"] {
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 10px;
}

.logo {}

.title-1 {
  font-size: 40px;
  text-align: center;
  margin: 30px;
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// responsive

.responsive-1 {
  overflow: hidden;
  img,
  picture,
  svg,
  video,
  iframe,
  source {
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }
}
.responsive-2 {
  overflow: hidden;
  position: relative;
  img,
  picture,
  svg,
  video,
  iframe,
  source {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// display
.display-grid-1 {
  display: grid;
  grid-gap: 20px;
  @media (min-width: 993px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 769px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.display-webkit-box-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// link
.link-1 {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
  color: red;
  transition: color var(--transition-2);
  &__svg {
    path {
      transition: fill var(--transition-2);
    }
  }
  @media (any-hover: hover) {
    &:hover {
      color: white;
      path {
        fill: white;
      }
      background-size: 100% auto, auto;
    }
  }
}
.link-2 {
  // background: 50% 50%/3rem no-repeat;
  // background: var(--color-6) url(../img/arrow-right.svg) right 11.5px top 50%/3.1rem no-repeat;
  color: gold;
  &__svg {
    fill: currentColor;
  }
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
.button-1 {
  padding: 10px 15px;
  background-color: gray;
  color: white;
  text-transform: uppercase;
  &.__active {
    background-color: brown;
  }
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
.smok {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff);
}
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/hover";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/animate-on-scroll";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/figures";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
@import "./components/toggle";
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// infinite scroll

.load-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.load-list__item {
  margin: 5px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.load-button {
  width: 50px;
  height: 50px;
}

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

.dt-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 200vw;
  height: 200vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-2);
  background-color: rgba(0, 0, 0, 0.5);
  &.__active {
    z-index: 10;
    opacity: 1;
    visibility: visible;
  }
}
