<section class="row-text-image section">
  <div class="row-text-image__container container">
    <div class="row-text-image__information">
      <p class="row-text-image__information-title">Title</p>
      <p class="row-text-image__information-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, fugiat.</p>
      <a class="row-text-image__information-link hover-background-1" href="#">Link</a>
    </div>
    <!-- <a class="row-text-image__media responsive-1 hover-img" href="#" target="_blank" >
      <img src="img/about__image.jpg" loading="lazy" width="100" height="100" alt="image">
    </a> -->
    <div class="row-text-image__media responsive-1 hover-scale-image">
      <video class="row-text-image__media-video" loop src="files/js-100-sec.mp4" ></video>
      <button class="row-text-image__media-play"></button>
    </div>
    <!-- <video src="files/font_awesome_flutter.mp4" loop muted autoplay controls></video> -->
  </div>
</section>