<ul class="list-column-image-text">
  <li class="list-column-image-text__item">
    <a class="list-column-image-text__image responsive-2 hover-img" href="work.html" target="_blank" >
      <img src="img/about__image.jpg" loading="lazy" width="100" height="100" alt="image">
    </a>
    <p class="list-column-image-text__label">Title</p>
    <p class="list-column-image-text__text">Text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid laborum culpa fugiat
      repellendus doloribus et quos in modi, ad hic deleniti facere atque vitae voluptatibus. Officiis quos fuga
      consequuntur earum.</p>
  </li>
  <li class="list-column-image-text__item">
    <a class="list-column-image-text__image responsive-2 hover-img" href="work.html" target="_blank" >
      <img src="img/about__image.jpg" loading="lazy" width="100" height="100" alt="image">
    </a>
    <p class="list-column-image-text__label">Title Lorem ipsum dolor sit amet.</p>
    <p class="list-column-image-text__text">Text Lorem ipsin modi, ad hic deleniti facere atque vitae voluptatibus. Officiis quos fuga
      consequuntur earum.</p>
  </li>
  <li class="list-column-image-text__item">
    <a class="list-column-image-text__image responsive-2 hover-img" href="work.html" target="_blank" >
      <img src="img/about__image.jpg" loading="lazy" width="100" height="100" alt="image">
    </a>
    <p class="list-column-image-text__label">Title</p>
    <p class="list-column-image-text__text">Text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid laborum culpa fugiat
      repellendus doloribus et quos in modi, ad hic deleniti facere atque vitae voluptatibus. Officiis quos fuga
      consequuntur earum.</p>
  </li>
</ul>