<ul class="list-row-image-text">
  <li class="list-row-image-text__item">
    <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
      <img src="img/about__image.jpg" loading="lazy" width="77" height="77" alt="image">
    </a>
    <div class="list-row-image-text__item-information">
      <p class="list-row-image-text__item-label">Бытовая техника для кухни</p>
      <p class="list-row-image-text__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        repellendus minima ipsum voluptatibus, omnis ullam quam inventore aliquid temporibus voluptates ea quisquam nisi
        atque fuga debitis perspiciatis. Sequi, deleniti similique.
        Vero maxime dolore id quibusdam fuga cum optio quam veniam quae placeat accusantium dolorem libero sequi
        suscipit consectetur eos quidem, eum cumque. Eveniet asperiores, nostrum repudiandae earum voluptatem enim?
        Eaque?</p>
      <a class="list-row-image-text__item-link hover-underline-2" href="#">Все категории...</a>
    </div>
  </li>
  <li class="list-row-image-text__item">
    <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
      <img src="img/about__image.jpg" loading="lazy" width="77" height="77" alt="image">
    </a>
    <div class="list-row-image-text__item-information">
      <p class="list-row-image-text__item-label">Бытовая техника для кухни</p>
      <p class="list-row-image-text__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        repellendus minima ipsum voluptatibus, omnis ullam quam inventore aliquid temporibus voluptates ea quisquam nisi
        atque fuga debitis perspiciatis. Sequi, deleniti similique.
        Vero maxime dolore id quibusdam fuga cum optio quam veniam quae placeat accusantium dolorem libero sequi
        suscipit consectetur eos quidem, eum cumque. Eveniet asperiores, nostrum repudiandae earum voluptatem enim?
        Eaque?</p>
      <a class="list-row-image-text__item-link hover-underline-2" href="#">Все категории...</a>
    </div>
  </li>
  <li class="list-row-image-text__item">
    <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
      <img src="img/about__image.jpg" loading="lazy" width="77" height="77" alt="image">
    </a>
    <div class="list-row-image-text__item-information">
      <p class="list-row-image-text__item-label">Бытовая техника для кухни</p>
      <p class="list-row-image-text__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        repellendus minima ipsum voluptatibus, omnis ullam quam inventore aliquid temporibus voluptates ea quisquam nisi
        atque fuga debitis perspiciatis. Sequi, deleniti similique.
        Vero maxime dolore id quibusdam fuga cum optio quam veniam quae placeat accusantium dolorem libero sequi
        suscipit consectetur eos quidem, eum cumque. Eveniet asperiores, nostrum repudiandae earum voluptatem enim?
        Eaque?</p>
      <a class="list-row-image-text__item-link hover-underline-2" href="#">Все категории...</a>
    </div>
  </li>
  <li class="list-row-image-text__item">
    <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
      <img src="img/about__image.jpg" loading="lazy" width="77" height="77" alt="image">
    </a>
    <div class="list-row-image-text__item-information">
      <p class="list-row-image-text__item-label">Бытовая техника для кухни</p>
      <p class="list-row-image-text__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        repellendus minima ipsum voluptatibus, omnis ullam quam inventore aliquid temporibus voluptates ea quisquam nisi
        atque fuga debitis perspiciatis. Sequi, deleniti similique.
        Vero maxime dolore id quibusdam fuga cum optio quam veniam quae placeat accusantium dolorem libero sequi
        suscipit consectetur eos quidem, eum cumque. Eveniet asperiores, nostrum repudiandae earum voluptatem enim?
        Eaque?</p>
      <a class="list-row-image-text__item-link hover-underline-2" href="#">Все категории...</a>
    </div>
  </li>
  <li class="list-row-image-text__item">
    <a class="list-row-image-text__item-image responsive-1 hover-img" href="#">
      <img src="img/about__image.jpg" loading="lazy" width="77" height="77" alt="image">
    </a>
    <div class="list-row-image-text__item-information">
      <p class="list-row-image-text__item-label">Бытовая техника для кухни</p>
      <p class="list-row-image-text__item-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        repellendus minima ipsum voluptatibus, omnis ullam quam inventore aliquid temporibus voluptates ea quisquam nisi
        atque fuga debitis perspiciatis. Sequi, deleniti similique.
        Vero maxime dolore id quibusdam fuga cum optio quam veniam quae placeat accusantium dolorem libero sequi
        suscipit consectetur eos quidem, eum cumque. Eveniet asperiores, nostrum repudiandae earum voluptatem enim?
        Eaque?</p>
      <a class="list-row-image-text__item-link hover-underline-2" href="#">Все категории...</a>
    </div>
  </li>


</ul>