<div class="main-slider">
  <div class="swiper main-slider__swiper">
    <ul class="swiper-wrapper">

      <li class="swiper-slide main-slider__slide">
          <img class="main-slider__slide-img" src="https://picsum.photos/200/300/?random" loading="lazy" alt="image">
        <div class="main-slider__slide-information">
          <p class="main-slider__slide-title">Slide title</p>
          <p class="main-slider__slide-text">Slide text
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, distinctio?
          </p>
        </div>
      </li>

      <li class="swiper-slide main-slider__slide">
        <img class="main-slider__slide-img" src="https://picsum.photos/200/300/?random" loading="lazy" alt="image">
      <div class="main-slider__slide-information">
        <p class="main-slider__slide-title">Slide title</p>
        <p class="main-slider__slide-text">Slide text
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, distinctio?
        </p>
      </div>
    </li>

    <li class="swiper-slide main-slider__slide">
      <img class="main-slider__slide-img" src="https://picsum.photos/200/300/?random" loading="lazy" alt="image">
    <div class="main-slider__slide-information">
      <p class="main-slider__slide-title">Slide title</p>
      <p class="main-slider__slide-text">Slide text
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, distinctio?
      </p>
    </div>
  </li>

    </ul>
  </div>
  <button class="slider-toggle">
    <input class="slider-toggle__stop" name="sliderToggle" type="radio">
    <input class="slider-toggle__play" name="sliderToggle" type="radio">
  </button>
  <div class="main-slider__arrow-prev swiper-button-prev"></div>
  <div class="main-slider__arrow-next swiper-button-next"></div>
  <div class="main-slider__pagination"></div>
</div>