<div class="choice">
  
  <input id="cs1" class="choice__switch" name="choice1" type="radio" checked>
  <input id="cs2" class="choice__switch" name="choice1" type="radio">
  <input id="cs3" class="choice__switch" name="choice1" type="radio">
  <input id="cs4" class="choice__switch" name="choice1" type="radio">
  <input id="cs5" class="choice__switch" name="choice1" type="radio">

  <input class="choice__drop-switch" id="cds1" type="checkbox">
  <label class="choice__drop-button" for="cds1">Сhoose a option</label>

  <label class="choice-overlay" for="cds1"></label>
  
  <div class="choice__select">
    <label for="cs1">Option 1</label>
    <label for="cs2">Option 2</label>
    <label for="cs3">Option 3</label>
    <label for="cs4">Option 4</label>
    <label for="cs5">Option 5</label>
  </div>

</div>




<select>
  <option>Option 1</option>
  <option>Option 2</option>
  <option>Option 3</option>
  <option>Option 4</option>
  <option>Option 5</option>
</select>