<div class="table-block">
  <table class="table-1">
    <thead>
      <tr>
        <th>#</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Дата рождения</th>
        <th>E-mail</th>
        <th>Телефон</th>
        <th>Страна</th>
        <th>Город</th>
        <th>Код</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Bergnaum</td>
        <td>Abbie</td>
        <td>01.01.1970</td>
        <td>morton91@hammes.com</td>
        <td>+9069769550011</td>
        <td>Germany</td>
        <td>Berlin</td>
        <td>DE</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bergnaum</td>
        <td>Abbie</td>
        <td>01.01.1970</td>
        <td>morton91@hammes.com</td>
        <td>+9069769550011</td>
        <td>Germany</td>
        <td>Berlin</td>
        <td>DE</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Bergnaum</td>
        <td>Abbie</td>
        <td>01.01.1970</td>
        <td>morton91@hammes.com</td>
        <td>+9069769550011</td>
        <td>Germany</td>
        <td>Berlin</td>
        <td>DE</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="table-n">
    <div class="table-n__header">
      <div>#</div>
      <div>Фамилия</div>
      <div>Имя baaf</div>
      <div>Дата рождения</div>
      <div>E-mail</div>
      <div>Телефон</div>
      <div>Страна</div>
      <div>Город</div>
      <div>Код</div>
    </div>
    <div class="table-n__spoiler">
      <div>1</div>
      <div>Bergnaum</div>
      <div>Abbie</div>
      <div>01.01.1970</div>
      <div>morton91@hammes.com</div>
      <div>+9069769550011</div>
      <div>Germany</div>
      <div>Berlin</div>
      <div>DE</div>
    </div>
    <div class="table-n__spoiler">
      <div>2</div>
      <div>Bergnaum</div>
      <div>Abbie</div>
      <div>01.01.1970</div>
      <div>morton91@hammes.com</div>
      <div>+9069769550011</div>
      <div>Germany</div>
      <div>Berlin</div>
      <div>DE</div>
    </div>
    <div class="table-n__spoiler">
      <div>3</div>
      <div>Bergnaum</div>
      <div>Abbie</div>
      <div>01.01.1970</div>
      <div>morton91@hammes.com</div>
      <div>+9069769550011</div>
      <div>Germany</div>
      <div>Berlin</div>
      <div>DE</div>
    </div>
</div> -->



<!-- <div class="table">
  <div class="table__header">
    <div class="table__header-item">#</div>
    <div class="table__header-item">Фамилия</div>
    <div class="table__header-item">Имя</div>
    <div class="table__header-item">Дата рождения</div>
    <div class="table__header-item">E-mail</div>
    <div class="table__header-item">Телефон</div>
    <div class="table__header-item">Страна</div>
    <div class="table__header-item">Город</div>
    <div class="table__header-item">Код</div>
  </div>
  <div class="table__main">
    <div class="table-item">
      .table-item
    </div>
  </div>
</div> -->