// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// footer
.footer {
  &__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
  }
}
