// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// list row image text

.list-row-image-text {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap: 20px;

  &__item {
    display: flex;
    gap: 20px;
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 20px;
  }
  &__item-image {
    position: sticky;
    top: 20px;
    flex: 0 0 10rem;
    height: 10rem;
  }
  &__item-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item-label {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__item-text {
    margin-bottom: 10px;
  }
  &__item-link {
    align-self: start;
    color: brown;
  }
}
