// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// timing

.list-column-image-text {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 50px;
  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__image {
    padding-bottom: 70%;
    border-radius: 10px;
  }
  &__label {
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  &__text {
    color: gray;
  }
}